@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*******GLOBAL STYLING*******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alef', sans-serif;
}

/*******FIXED TOP NAV*******/
nav{
  background-color: black;
  top: 0;
  position: fixed;
  grid-area: nav;
  width: 100%;
  height: 55px;
  overflow: hidden;
}

nav ul{
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

/* Nav text */
nav a{
  display: block;
  padding: 1rem .5rem 0 .5rem;
  text-decoration: none;
  color:#ADACB5;
}

/* Nav hovering effect*/
nav li:hover{
  text-decoration: underline; 
}

/* Nav display current page */
nav .current-page{
  color: #EAE8FF;
  text-decoration: underline;
}

/******HOME PAGE*******/
/*home page*/
.context{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  margin-top: 2em;
  animation: pulse 40s infinite;
}

/*animating background*/
@keyframes pulse{
  0% {
    background-color: #ffffff;
  }

  50% {
    background-color: #999CF0;
  }

  100% {
    background-color: #ffffff ;
  }
}

.title_container_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_container{
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px;
  height: 60px;
  width: 150px;
  margin-top: 0px;
}

/*Name home page*/
.home_title{
  color: #ADACB5;
  font-size: 20px;
}

/*home page sub title*/
.home_sub_title{
  color: #333;
  font-size: 12.5px;
}

/*home page logo image*/
.logo_home_page{
  width: 200px;
  margin-bottom: 5px;
}

/*******ABOUT PAGE*******/
/*about page profile image*/
.image-container{
  margin-top: 50px;
  background:#333;
}
.profile-image{
    height: auto;
    width: 100%;    
    border: #333 solid 5px;
}

/*about page title text*/
.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/*about page content text para 1*/
.about-content{
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid #333 1px;
  border-radius: 10px;
  padding: 2rem;
}

/*CV link*/
.about-content a{
  border: solid 1px #333;
  font-size: 15px;
  border-radius: 10%;
  padding: 5px;
  text-decoration: none;
  color:#eee;
  background-color: #333;
}

/******PORTFOLIO PAGE*******/
/*Nav index*/
.nav-index{
  z-index: 99;
}

/*portfolio page container*/
.portfolio-page{
  padding: 0 2rem 0 2rem;
  margin-top: 0px;
}

.portfolio-container{
  border: solid 1px #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
/*Titles above portfolio images*/
.item-titles{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

/*portfolio item 1*/
.portfolio-item-1{
 padding: 25px;
}

/*portfolio item 2*/
.portfolio-item-2{
  padding: 25px;
}

/*portfolio item 3*/
.portfolio-item-3{
  padding: 25px;
}

/*portfolio item 4*/
.portfolio-item-4{
  padding: 25px;
}

/*place holder logo image for future portfolio items*/
.image{
  position: relative;
  width: 100%;
}

/*Make the image fill parent image class*/
.image__img{
  display: block;
  width: 100%;
}

/*setting the parameters for the image overlay*/
.image__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Alef', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

/*makes the text hidden until hovered over*/
  opacity: 0;

/*making the text appear smoothlyt*/
  transition: opacity 0.25s;
}

/*overlaying a blur filter*/
.image__overlay--blur{
  backdrop-filter: blur(5px);
}

/*Making text appear from the bottom*/
.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

/*displays the items text when hovered over*/
.image__overlay:hover {
  opacity: 1;
}

/*animates text from the bottom of image*/
.image__overlay:hover > * {
  transform: translateY(0);
}

/*Portfolio items title text*/
.image__title{
  font-size: 1.5rem;
  font-weight: bold;
}

/*Portfolio items description text*/
.image__description{
  font-size: 1rem;
  margin-top: 0.25rem;
}

/******BLOG PAGE*******/
/* Blog Page Container */
.blog-page{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Blog Container */
.blog-container-container{
  display: flex;
  justify-content: center;
  height: 70%;
  width: 70%;
}

/* Blog items */
/* Stores all blog cards */
.blog-container{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: .5%;
}

/* Blog images */
.blog-images{
  height: auto;
  max-width: 100%;  
}

/* Changes to all blog cards */
.card{
  padding: 1rem;
}

.card h2{
  text-decoration: 
}

/******CONTACT PAGE*******/
/* Contact title */
.contact-title{
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 80px 0 0 0;
}

/* Contact short paragraph*/
.contact-para{
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Contact form*/
input[type=text], select, textarea{
  width: 100%; 
  padding: 12px; 
  border: 1px solid #333; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin: 6px 0 16px 0; 
  resize: vertical; 
}

input[type=submit]{
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #eee;
  color: #333;
}

.contact-container{
  border-radius: 5px;
  background-color: #eee;
  padding: 20px;
  margin: 20px 0px 20px 10px;
}

/*social media icons section*/
.social-footer{
  margin: 0 50px 0 50px;
}

/*social media icons*/
.social-icons{
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.fa{
  background-color: #333;
  color: #eee;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.fa:hover{
  opacity: 0.7;
}

.fa-linkedin{
  border-radius: 50%;
  margin-right: 5px;
}

.fa-youtube{
  border-radius: 50%;
  margin-right: 5px;
}

.fa-github{
  border-radius: 50%;
}

/******RESPONSIVE DESIGN CHANGES VA MEDIA QUERIES ******/
/* Media changes starting at 300px screen sizes */
@media screen and (min-width: 300px) {
  
  .card{
    width: 20rem;
    padding-bottom: 1rem;
    margin: 1rem;
    border: #333 solid 1px;
  }

  .blog-container{
    margin: 2%; 
  }

  .blog-container-container{  
    width: 100%;
  }

  .about-content{
    margin: 1rem;
  }

  /*Name home page*/
  .home_title{
    color: #333;
    font-size: 12px;
    padding: 0px;
  }

  /*Stack home page*/
  .home_sub_title{
    color: #333;
    font-size: 10px;
  }

  /*Border of title on home page*/
  .title_container{
    height: 33px;
  }

  .contact-container{
    margin: 15px 20px 20px 20px;
  }

  .contact-para{
    margin: 10px 20px 20px 20px;
  }

/* Media changes starting at 600px screen sizes */
@media screen and (min-width: 600px) {

   /*Name home page*/
   .home_title{
    color: #333;
    font-size: 20px;
    padding: 0px;
  }

  /*Stack home page*/
  .home_sub_title{
    color: #333;
    font-size: 12.5px;
  }

  /*Border of title on home page*/
  .title_container{
    height: 50px;
  }

  .logo_home_page{
    width: 400px;
    margin-bottom: 5px;
  }

  .blog-container-container{
    padding: 0;
    width: 100%;
  }

  .blog-container{
    width: 100%;
    height: auto;
  }

  .blog-images{
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .card{
    padding-bottom: 1rem;
    margin: 5px;
    width: 40rem;
    border: #333 solid 1px;
  }

  .about-content{
    margin: 1.25rem;
  }

  .contact-para{
    margin: 10px 100px 5px 100px;
    font-size: 20px;
  } 

  .contact-container{
    margin-top: 50px 800px 20px 400px;
  }
}

/*Desktop*/
@media screen and ( min-width: 1020px ) {
  .image-container{
    display: flex;
    justify-content: center;
  }

  /*about page image*/
  .profile-image{ 
    width: 50%; 
    margin-top: 1rem;
  }

  /*Blog cards*/
  .card{
    width: 40%; 
    padding-bottom: 1rem;
    margin: 1rem;
  }

  .blog-images{
    width: 300px;
    height: 150px;
    margin: auto 0;
  }

  .blog-container{  
    width: 100%;
    height: auto;
    border: solid #333 5px;
  }


  .blog-container-container{  
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .image__img{
    width: 100%; 
  }

  .title_container{
    width: 50%;
  }

  .about-content{
    margin: 2rem;
  }

  .contact-container{
    margin: 2rem 20rem 2rem 20rem;
  }
}